/* Animated Button Wrapper Styles */

.btn-wrapper {
  --dot-size: 6px;
  --line-weight: 1px;
  --line-distance: 0.9rem 1.1rem;
  --animation-speed: 0.35s;
  --dot-color: #666;
  --line-color: #999;

  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  height: auto;
  padding: var(--line-distance);
  background-color: #0000;
  transition: background-color 0.3s ease-in-out;
  user-select: none;
}

.btn-wrapper.animating {
  animation: backround-color-change calc(var(--animation-speed) * 4) ease-in-out
    forwards;
}

@keyframes backround-color-change {
  80% {
    background-color: #0000;
  }
  100% {
    background-color: #e5ff0055;
  }
}

/* Dots */
.dot {
  position: absolute;
  width: var(--dot-size);
  aspect-ratio: 1;
  border-radius: 50%;
  background-color: var(--dot-color);
  transition: all 0.3s ease-in-out;
  opacity: 0;
}

.btn-wrapper.animating .dot.top.left {
  top: 50%;
  left: 20%;
  animation: move-top-left var(--animation-speed) ease-in-out forwards;
}

@keyframes move-top-left {
  90% {
    opacity: 0.6;
  }
  100% {
    top: calc(var(--dot-size) * -0.5);
    left: calc(var(--dot-size) * -0.5);
    opacity: 1;
  }
}

.btn-wrapper.animating .dot.top.right {
  top: 50%;
  right: 20%;
  animation: move-top-right var(--animation-speed) ease-in-out forwards;
  animation-delay: calc(var(--animation-speed) * 0.6);
}

@keyframes move-top-right {
  80% {
    opacity: 0.6;
  }
  100% {
    top: calc(var(--dot-size) * -0.5);
    right: calc(var(--dot-size) * -0.5);
    opacity: 1;
  }
}

.btn-wrapper.animating .dot.bottom.right {
  bottom: 50%;
  right: 20%;
  animation: move-bottom-right var(--animation-speed) ease-in-out forwards;
  animation-delay: calc(var(--animation-speed) * 1.2);
}

@keyframes move-bottom-right {
  80% {
    opacity: 0.6;
  }
  100% {
    bottom: calc(var(--dot-size) * -0.5);
    right: calc(var(--dot-size) * -0.5);
    opacity: 1;
  }
}

.btn-wrapper.animating .dot.bottom.left {
  bottom: 50%;
  left: 20%;
  animation: move-bottom-left var(--animation-speed) ease-in-out forwards;
  animation-delay: calc(var(--animation-speed) * 1.8);
}

@keyframes move-bottom-left {
  80% {
    opacity: 0.6;
  }
  100% {
    bottom: calc(var(--dot-size) * -0.5);
    left: calc(var(--dot-size) * -0.5);
    opacity: 1;
  }
}

/* Lines */
.line {
  position: absolute;
  transition: all 0.3s ease-in-out;
}

.line.horizontal {
  height: var(--line-weight);
  width: 100%;
  background-image: repeating-linear-gradient(
    90deg,
    #0000 0 calc(var(--line-weight) * 2),
    var(--line-color) calc(var(--line-weight) * 2) calc(var(--line-weight) * 4)
  );
}

.line.top {
  top: calc(var(--line-weight) * -0.5);
}

.line.bottom {
  bottom: calc(var(--line-weight) * -0.5);
}

.line.vertical {
  width: var(--line-weight);
  height: 100%;
  background-image: repeating-linear-gradient(
    0deg,
    #0000 0 calc(var(--line-weight) * 2),
    var(--line-color) calc(var(--line-weight) * 2) calc(var(--line-weight) * 4)
  );
}

.line.left {
  left: calc(var(--line-weight) * -0.5);
}

.line.right {
  right: calc(var(--line-weight) * -0.5);
}

.line.top {
  transform-origin: top left;
  transform: rotate(5deg) scaleX(0);
}

.btn-wrapper.animating .line.top {
  animation: draw-top var(--animation-speed) ease-in-out forwards;
  animation-delay: calc(var(--animation-speed) * 0.8);
}

@keyframes draw-top {
  100% {
    transform: rotate(0deg) scaleX(1);
  }
}

.line.bottom {
  transform-origin: bottom right;
  transform: rotate(5deg) scaleX(0);
}

.btn-wrapper.animating .line.bottom {
  animation: draw-bottom var(--animation-speed) ease-in-out forwards;
  animation-delay: calc(var(--animation-speed) * 2);
}

@keyframes draw-bottom {
  100% {
    transform: rotate(0deg) scaleX(1);
  }
}

.line.left {
  transform-origin: bottom left;
  transform: rotate(0deg) scaleY(0);
}

.btn-wrapper.animating .line.left {
  animation: draw-left var(--animation-speed) ease-in-out forwards;
  animation-delay: calc(var(--animation-speed) * 2.4);
}

@keyframes draw-left {
  100% {
    transform: rotate(0deg) scaleY(1);
  }
}

.line.right {
  transform-origin: top right;
  transform: rotate(5deg) scaleY(0);
}

.btn-wrapper.animating .line.right {
  animation: draw-right var(--animation-speed) ease-in-out forwards;
  animation-delay: calc(var(--animation-speed) * 1.4);
}

@keyframes draw-right {
  100% {
    transform: rotate(0deg) scaleY(1);
  }
}
